@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&display=swap');

/*===== Fonts =====*/
:root{
  --body-font: 'Hind Siliguri', sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
}

/*==== Colors =====*/

/* :root{
  --first-color: #691f48f4;
  --second-color: #ffffff;
  --third-color: #131313;
  --fourth-color: rgb(59, 59, 129);
} */

@media screen and (min-width: 768px){
  :root{
    --big-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
    --useful-font-size: 1.1rem;
    --medium-font-size: 1.3rem;
  }
}

/*===== Margins =====*/
:root{
  --mb-0: -1rem;
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
  --mb-7: 5rem;
}

/*===== Paddings =====*/
:root{
  --pd: 0.5rem;
  --pd-1: 0.75rem;
  --pd-2: 1rem;
  --pd-3: 1.5rem;
  --pd-4: 2rem;
  --pd-5: 2.5rem;
  --pd-6: 3rem;
  --pd-7: 6rem;
}

/*===== z index =====*/
:root{
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*===== BASE =====*/
*,::before,::after{
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--third-color);
  height: 100%;
}

/*===== Navar =====*/

#navbar{
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--pd-6);
}

#navbar ul {
  display: flex;
  gap: 4rem;
}

#navbar  img{
  height: 60px;
  width: 70px;
}

.nav-logo{
  display: flex;
  gap: 10px;
  align-items: center;
}

.nav-logo h1{
  font-family: 'Gill Sans';
  font-size: 35px;
}
.btn-me{
  /* padding: var(--pd-1) var(--pd-3); */
  padding: 0.8vh 2.5vw;
  background: #691f48f4;
  font-size: var(--normal-font-size);
  color: white; 
  border: 1px solid #691f48f4;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5ms linear;
}

.btn-me:hover{
  background: rgb(62, 62, 116);
  padding: 1.8vh 3.5vw;
}

#navlist{
  /* padding-top: var(--pd); */
  margin-right: var(--mb-6);
}

.link{
  text-decoration: none;
  font-size: var(--useful-font-size);
  color: var(--third-color);
}

.link:hover{
  color: var(--first-color);
}

/*===== Home =====*/

main{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: var(--mb-6);
}

.textContainer h2{
  color: var(--first-color);
  font-weight: bold;
}

.textContainer h1{
  font-size: var(--big-font-size);
  line-height: 1.2;
  font-weight: bolder;
  margin: 0;
}

.textContainer p{
  font-size: var(--medium-font-size);
  width: 550px;
}

.textContainer input{
  padding: var(--pd-1) var(--pd-7) var(--pd-1) var(--pd-1);
  font-size: var(--useful-font-size);
}

.textContainer button{
  padding: var(--pd-2) var(--pd-6);
  border-radius: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.imgContainer img{
  width: 520px;
  margin-top: var(--mb-0);
}

.mainImg img{
  width: 550px;
  margin-top: var(--mb-0);
}

@media screen and (max-width: 1200px) {
  .imgContainer img{
    width: 420px;
  }
}


@media screen and (max-width: 1000px) {
  .imgContainer img{
    display: none;
  }
  .textContainer p{
    width: auto;
  }
}

@media screen and (max-width: 550px) {
  .textContainer input{
    padding: var(--pd-1);
    font-size: var(--normal-font-size);
  }
  
  .textContainer button{
    padding: var(--pd-1)
  }
}

/*==== About =====*/

.aboutText{
  margin-top: var(--mb-7);
} 

.aboutText button{
  border-radius: 5px;
}

.landing-side{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-app{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
}

.landing-apple,
.landing-google{
  display: flex; 
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: black;
  border-radius: 9px;
  width:210px;
  height: 60px;
}

.landing-apple img,
.landing-google img{
  width: 40px;
  height: 60px;
  object-fit: contain;
}

.landing-card{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  
}
.landing-card2{
  margin-top: 30px;
  box-shadow: 1px 2px 5px 2px #691f48f4;
  width: 400px;
  border-radius: 10px; 
  padding: 30px;
  margin-bottom: 40px;
}

.landing-card2 img{
  width: 80%;
}

.landing-card2 p{
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
}

.list-unstyled{
  font-size: 16px;
}

.landing-apple h2,
.landing-google h2{
  font-size: 15px;
  color: white;
}

.main-footer {
  color: white;
  background-color: #691f48;
  padding-top: 3em;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 30px;
}